VITE_API_BASE_URL=http://localhost:8000
VITE_ADMIN_APP_URL=http://localhost:3000
VITE_LINK_APP_URL=https://link.himtibinus.or.id
VITE_OFOG_URL=https://ofog.himtibinus.or.id
VITE_LOCAL_LINK_BASE_PATH=/link
